<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   <head>

   <body>
      <h1>Hello, World!</h1>
      <h1>This is where the temp will go: {{ temp }}</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
     
   </body>
</html>